
peacock-blue: #0066a1
white: #ffffff
$black: #282828
$water-blue: #149ed8
$black-two: #292929
$mango: #fab330
$warm-grey: #8c8c8c
$pinkish-grey: #bbbbbb
$pale-grey: #e5eaee
$dodger-blue: #36a8ff
$pale-grey-two: #eaeff3
$dark-grey: #2a2b2c
$black-three: #000000
$mango-two: #ffaf36
$battleship-grey: #7b7b7c
$black-four: #1c1c1c
$pale-grey-three: #dde4ea
$battleship-grey-two: #757c81
$warm-grey-two: #8e8e8e
$pale-grey-four: #dce3e8
$battleship-grey-three: #737476
$warm-grey-three: #8a8a8a
$charcoal-grey: #373839


$icomoon-font-family: "icomoon" !default
$icomoon-font-path: "../../fonts" !default