@import "variables";


.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ticket {
  &:before {
    content: $icon-ticket; 
  }
}
.icon-wallet {
  &:before {
    content: $icon-wallet; 
  }
}
.icon-gift {
  &:before {
    content: $icon-gift; 
  }
}
.icon-bag {
  &:before {
    content: $icon-bag; 
  }
}
.icon-phone {
  &:before {
    content: $icon-phone; 
  }
}
.icon-imac {
  &:before {
    content: $icon-imac; 
  }
}
.icon-diamond {
  &:before {
    content: $icon-diamond; 
  }
}
.icon-clover {
  &:before {
    content: $icon-clover; 
  }
}
.icon-home {
  &:before {
    content: $icon-home; 
  }
}
.icon-watch {
  &:before {
    content: $icon-watch; 
  }
}
.icon-search {
  &:before {
    content: $icon-search; 
  }
}
.icon-th {
  &:before {
    content: $icon-th; 
  }
}
.icon-check {
  &:before {
    content: $icon-check; 
  }
}
.icon-headphones {
  &:before {
    content: $icon-headphones; 
  }
}
.icon-tags {
  &:before {
    content: $icon-tags; 
  }
}
.icon-expand {
  &:before {
    content: $icon-expand; 
  }
}
.icon-leaf {
  &:before {
    content: $icon-leaf; 
  }
}
.icon-eye {
  &:before {
    content: $icon-eye; 
  }
}
.icon-shopping-cart {
  &:before {
    content: $icon-shopping-cart; 
  }
}
.icon-camera-retro {
  &:before {
    content: $icon-camera-retro; 
  }
}
.icon-heart-o {
  &:before {
    content: $icon-heart-o; 
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter; 
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook; 
  }
}
.icon-facebook-f {
  &:before {
    content: $icon-facebook-f; 
  }
}
.icon-bars {
  &:before {
    content: $icon-bars; 
  }
}
.icon-navicon {
  &:before {
    content: $icon-navicon; 
  }
}
.icon-reorder {
  &:before {
    content: $icon-reorder; 
  }
}
.icon-list-ul {
  &:before {
    content: $icon-list-ul; 
  }
}
.icon-pinterest {
  &:before {
    content: $icon-pinterest; 
  }
}
.icon-exchange {
  &:before {
    content: $icon-exchange; 
  }
}
.icon-angle-left {
  &:before {
    content: $icon-angle-left; 
  }
}
.icon-angle-right {
  &:before {
    content: $icon-angle-right; 
  }
}
.icon-desktop {
  &:before {
    content: $icon-desktop; 
  }
}
.icon-dollar {
  &:before {
    content: $icon-dollar; 
  }
}
.icon-usd {
  &:before {
    content: $icon-usd; 
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram; 
  }
}
.icon-apple {
  &:before {
    content: $icon-apple; 
  }
}
.icon-paper-plane-o {
  &:before {
    content: $icon-paper-plane-o; 
  }
}
.icon-send-o {
  &:before {
    content: $icon-send-o; 
  }
}
.icon-futbol-o {
  &:before {
    content: $icon-futbol-o; 
  }
}
.icon-soccer-ball-o {
  &:before {
    content: $icon-soccer-ball-o; 
  }
}
.icon-plug {
  &:before {
    content: $icon-plug; 
  }
}
.icon-vimeo {
  &:before {
    content: $icon-vimeo; 
  }
}
.icon-shopping-bag {
  &:before {
    content: $icon-shopping-bag; 
  }
}
.icon-shopping-basket {
  &:before {
    content: $icon-shopping-basket; 
  }
}
.icon-mobile {
  &:before {
    content: $icon-mobile; 
  }
}

