@media only screen and (min-width: 576px)

	.logo__link
		font-size: 1.857em
		span
			display: inline

	.header-cart__link
		height: 45px
		padding: 13px 0
		width: 45px
		&:hover .icon-shopping-bag
			color: $cornflower-blue

	.form-toggle.form-submit
		height: 45px
		right: 150px
		top: 0
		width: 45px

	.sidebar-products__items:last-child	
		border-bottom: 1px solid $white-three

	.header-bottom-search
		padding: 27px 0 33px 0

	.header-cart
		top: 0

	/* раздел product-categories изменить размер карточки товара */
	.categories-example__list
		.grid-item
			width: 50%

	.grid-item__row
		width: 50%

	.sidebar-products__list
		display: flex
		flex-wrap: wrap

	.sidebar-products__items
		flex: 1 0 50%

	.newsletter-form
		width: 65%

@media only screen and (min-width: 768px)

	.header-top
		.user-assistance
			align-items: center
			display: flex

	.help-link,
	.wishlist-link
		border-right: 1px solid rgba(255, 255, 255, .1)
		a
			&:hover
				color: $charcoal-grey
		&:hover .icon-heart-o:before
			color: $charcoal-grey

	.app-link
		background-color: rgba(0, 0, 0, .1)
		&:hover
			background-color: $white
		&:hover .btn-app
			color: #3576BE

	.language-block
		margin: 0

	.language-block__mobile
		display: none

	.top-offers
		display: flex

	.top-offers-items
		margin-right: 22px
		&:last-child
			margin-right: 0

	.shop-grid
		flex-direction: row-reverse
		margin-top: 50px

	/* размер основного раздела */
	.shop-grid__main
		width: calc(100% - 300px)

	/* включаем поиск по сайту */
	.header-search
		display: block
		width: 62%

	/* прячем кнопку открытия формы поиска */
	.form-toggle.form-submit
		display: none

	/* раздел best sellers изменяем размер карточки товара */
	.grid-item__row
		align-items: center
		flex-direction: column

	.categories-example__list
		flex-wrap: nowrap

	/* кнопка-бургер переключения меню */
	.hamburger
		display: none

	/* корзине убираем абсолютное позиционирование, что вернет ее в правую часть экрана */
	.header-cart
		position: static

	/* главное меню приводим в горизонтальный десктопный вид */
	.main-menu
		display: flex
		height: auto
		overflow: inherit
		position: static
		width: auto
		&__item
			border-bottom: none 	//пункт меню
			padding: 0 1.25%
			&:hover
				background-color: #4d4d4d
		&__link
			font-size: .857em 	//ссылка меню
		&__toggle
			display: none 	//прячем кнопку-переключатель меню
		.main-menu__help
			display: none

	/* смещаем таблички над пунктами меню вверх */
	.main-menu__item .badge
		top: -14px

	.contact-phone
		display: block
		left: auto
		right: 15px
		top: 11%

	.new-arrivals
		h2
			margin: 5px 0 55px

	/* раздел new arrivals меню категорий теперь видно */
	.new-arrivals__nav
		display: block
		left: 0
		position: absolute
		top: 37px
		li
			display: inline-block
		a
			color: $warm-grey-four
			font:
				size: .857em
				weight: 500
			margin-left: 10px
			text-transform: uppercase
			&:hover
				color: $dark-sky-blue

	.shop-grid__sidebar
		margin-right: 35px
		text-align: left
		width: 265px

	.sidebar-banner
		display: block
		img
			display: block
			height: 340px

	.sidebar__hot-deals
		display: block

	/* обертка изображения слайдера .hot-deals */

	.hot-deals__img
		margin: 15px 0 12px 0
		text-align: center
		img
			height: 228px

	
	/* счетчик до завершения акции */

	#countdown
		border-top: 1px solid $white-three
		display: flex
		width: 100%

	.countdown-items
		background-color: $white-five
		border-right: 1px solid $white-three
		flex: 1
		font-size: 13px
		padding: 13px 17px
		text-align: center
		&:last-child
			border: none
		span
			color: $black-seven
			display: inline-block
			margin-bottom: 9px

	.count-text
		color: $warm-grey-four

	/* описание товара на карточке товара .hot-deals */

	.hot-deals
		.product-info
			text-align: center


	.sidebar-products__list
		display: block

	.sidebar-products__items
		&:last-child
			border-bottom: none

	/* блок с отзывами */

	.sidebar-testim
		display: block
		position: relative
		hr
			border: 0
			border-top: 1px solid $white-three
			bottom: 68px
			margin: 0 auto
			position: absolute
			transform: translateX(8%)
			width: 85%

	/* пункты слайдера отзывов */

	.testim-slider__item
		padding: 0 1.786em 30px 1.786em
		text-align: center
		p
			color: $warm-grey-four
			font:
				family: raleway
			line-height: 1.571em
			margin-bottom: 1.714em
		img
			display: inline-block
			border-radius: 50%
			margin-bottom: 13px

	.testim-author__name
		color: $black-six
		font:
			family: raleway
			size: .929em
			weight: 600
		letter-spacing: .7px
		margin-bottom: .615em
		text-transform: uppercase

	.testim-author__post
		color: $warm-grey-five
		font-weight: 300

	/* блок с новостями */

	.sidebar-news
		display: block

	.sidebar-news__item
		padding: 0 1.429em
		p
			color: $warm-grey-six
			line-height: 20px
			margin-bottom: 1.857em

	.grid-item.sidebar-products__new
		border-bottom: 1px solid $white-three

	.sidebar-news__img
		max-height: 140px
		margin-bottom: 22px
		overflow: hidden
		position: relative

	.news-date__badge
		background-color: $dark-sky-blue
		border-radius: 2px
		color: $white
		font:
			size: 1.286em
			weight: 700
		left: 10px
		padding: 8px 10px
		position: absolute
		top: 10px
		text-transform: uppercase
		span
			display: block
			font-size: .611em

	.sidebar-news__title
		color: $black-six
		font:
			family: raleway
			size: 1.143em
			weight: 500
		margin-bottom: .688em

	.sidebar-news__info
		color: $greyish-brown-two
		font:
			size: .929em
			weight: 300
		margin-bottom: 1.385em

	.link-menu--section
		color: $greyish-brown-two
		margin-right: 8px

	.comments-count
		margin-left: 8px

	.news-link__full
		margin-bottom: 2.357em
		a
			color: $dark-sky-blue
			text-transform: uppercase
	
	/* каталогу с категориями задаем нужные размеры и поля */
	.catalog
		margin-right: 20px
		width: 23.7%

	/* меню категорий теперь видно */
	.catalog-wrap
		display: block

	/* главный слайдер изображений отодвинули вправо */

	.main-slider
		.slick-slider
			height: 470px
			margin: 20px 0 20px 25.5%
			margin-top: 20px
			img
				height: 470px
				width: 100%

	.categories-example__list
		.grid-item
			&:first-child
				border-left: 1px solid $white-three
		

	.advantages__grid
		display: flex
		flex-wrap: nowrap
		.advantages-grid__item
			border-right: 1px solid $white-eight
			flex: 1 0 25%

	.contact-us
		height: 100px

	.contact-us__inner
		align-items: center
		display: flex
		flex-direction: row
		justify-content: space-between

	.newsletter-header
		margin-bottom: 0
		width: 13%
		span
			line-height: normal

	.newsletter-form
		margin: 0 -67px 0 0
		width: 43.95%

	.newsletter-submit
		width: 30%

	.social-contact
		align-items: center
		border-left: 1px solid rgba(255, 255, 255, .15)
		display: flex
		padding: 0 10px

	.social-contact__list
		li
			margin-left: 5px

	.footer-inner
		flex-direction: row
		padding: 76px 0 0 0

	.footer-contact
		margin-bottom: 0
		width: 27.193%

	.footer-nav__column
		border: none
		flex: 1
		padding-left: 50px
		h3
			margin-bottom: 2.4em
			&:after
				display: none
				
	.footer-nav__link
		display: block

@media only screen and (min-width: 992px)

	/* форма поиска нужного размера */
	.header-search
		margin-left: 11%
		width: 52.2%

	/* счетчик для корзины теперь виден */
	.header-cart__count
		display: inline-block

	/* выпдающее меню с категориями теперь видно */
	.categories-form__block
		display: block

	/* контактный номер в меню теперь виден, а иконка для мобильной версии спрятана */
	.main-menu__phone
		display: inline
		.contact-phone__num
			background-color: $sunflower-yellow
			display: inline-block
			color: $black-five
			font:
				size: .857em
				weight: 500
			margin-left: 5px
			padding: 5px 8px
		.icon-mobile
			display: none

	.contact-phone
		display: block
		left: auto
		top: 30%
		width: auto
		span
			display: inline-block
			color: $pinkish-grey
			font-size: .857em
			text-transform: uppercase

	.catalog-item
		padding-left: 44px
		.icon
			left: 20px

	
	.new-arrivals
		h2
			margin: 5px 0 27px

	/* меню раздела new arrivals сдвигаем к правой стенке */
	.new-arrivals__nav
		left: auto
		right: 75px
		top: 8px

	/* баннеры развернуты на полный размер */
	.shop-grid__banner.half-size
		flex-direction: row
		a
			margin-left: 20px
			&:first-child
				margin-left: 0

	/* раздел best sellers, содержимое карточки товара выстраиваем горизонтально */
	.grid-item__row
		align-items: normal
		flex-direction: row
		width: 50%

	/* раздел product categories, карточка товара задаем произвольную ширину */
	.categories-example__list
		.grid-item
			width: auto

	/* раздел product categories, баннер вдвое шире карточки товара */
	.categories-banner
		display: block
		flex: 2 0 auto
		padding: 16px

	.newsletter-form
		margin-right: 0

	.newsletter-submit
		width: 20%

@media only screen and (min-width: 1200px)

	/* горизонтальные отступы контейнеру больше не нужны */
	.container
		padding: 0

	/* то же, что и для контейнера */
	.header-bar
		padding: 0

	/* стрелки навигации слайдеров товаров сдвигаем вправо */
	.shop-grid__main,
	.categories-list,
	.brand-partners
		.slick-arrow
			right: 0
		.slick-prev
			right: 30px

	.new-arrivals,
	.featured-products,
	.recommended,
	.categories-example,
	.partners-list
		margin-bottom: 39px
		.grid-item
			margin: 0

	/* боковые границы для крайних карточек товара задаем через родителя, чтобы не двоились */
	.product-carousel
		.slick-list
			border-right: 1px solid $white-three
			border-left: 1px solid $white-three
			margin-right: 1px

	.social-header
		display: block
		color: $white
		font:
			family: raleway
			size: 1.071em
			weight: 600
		letter-spacing: 0.4px
		margin: 0 19px 0 25px
		text-transform: uppercase

	.user-action__list
		background-color: $white
		bottom: 104px
		display: none

	.product-rating
		margin: -20px auto 30px

	.categories-example__list
		.product-rating
			margin-bottom: 22px

	.user-action__item
		border: 1px solid $white-four
		border-left: none
		i
			font-size: inherit