
@charset "utf-8"

@import "base/_reset.sass"
@import "base/_variables.sass"
@import "base/_tipography.sass"
@import "base/_fonts.sass"
@import "base/icomoon.scss"

@import "components/sign.sass"
@import "components/_site-forms.sass"
@import "components/_header-cart.sass"
@import "components/_carousel-slider.sass"
@import "components/_badges.sass"
@import "components/_user-action.sass"
@import "components/_preloader.scss"
@import "components/rating.sass"

@import "../libs/slick/slick.scss"
@import "../libs/jquery.rateit/scripts/rateit.css"
@import "../libs/hamburgers/hamburgers.scss"

@import "layout/_header.sass"
@import "layout/_main-menu.sass"
@import "layout/_grid.sass"
@import "layout/_our-advantages.sass"
@import "layout/_contact-us.sass"
@import "layout/_sidebar.sass"
@import "layout/_shop-grid__main.sass"
@import "layout/_footer.sass"



html,
body
	min-height: 100%
	margin: 0
	padding: 0	
	width: 100%

body
	background-color: #fff
	font:
		family: roboto
		size: 14px
		weight: 400
	min-width: 320px

img
	height: auto
	max-width: 100%

/* прелоадер */
	
.loader-popup
	background-color: rgba(0, 0, 0, .3)
	display: none
	position: absolute
	z-index: 10000
	height: 200%
	width: 100%


/* top-offers - line under slider */

.top-offers
	display: none

/* styles for product card */
.product-name
	color: $greyish-brown
	display: block
	margin-bottom: 9px

.product-price
	color: $black-six
	font:
		size: .929em
		weight: 500
	margin-bottom: 30px

.product-rating
	height: 9px
	position: relative
	margin: -20px auto 65px
	width: 55px

.product-image
	align-items: center
	display: flex
	justify-content: center
	margin-bottom: 17px
	padding: 12px 18px 0


	

@import 'main-media.sass'