
@charset "utf-8"

@import "base/_reset.sass"
@import 'base/_variables.sass'
@import "sign.css"
@import "../libs/slick/slick.scss"
@import "base/_fonts.sass"
@import "icomoon"
@import "../libs/jquery.rateit/scripts/rateit.css"
@import "layout/header.sass"
@import "layout/grid.sass"



html,
body
	height: 100%
	margin: 0
	padding: 0	
	width: 100%

body
	background-color: #fff
	font:
		family: roboto
		size: 14px
		weight: 400
	max-width: 100vw
	min-width: 320px
	max-height: 100vh

.product-rating
	width: 315px
	height: 50px
	position: relative

.rating
	background: url(../img/stars.png) 0 0 no-repeat tomato
	position: relative
	z-index: 1000
	width: 100%
	height: 100%


.rating-fill
	background: url(../img/stars-fill.png) 0 0 no-repeat
	height: 100%
	width: 80%
	position: absolute
	top: 0
	left: 0
	z-index: 1100

