
@charset "utf-8"

@import "base/_reset.sass"
@import 'base/_variables.sass'
@import "sign.css"
@import "../libs/slick/slick.scss"
@import "base/_fonts.sass"



html,
body
	height: 100%
	margin: 0
	padding: 0	
	width: 100%

