@media only screen and (min-width: 576px)

	.sidebar-products__items:last-child	
		border-bottom: 1px solid $white-three

	/* раздел product-categories изменить размер карточки товара */
	.categories-example__list
		.grid-item
			width: 50%

	.grid-item__row
		width: 50%

	.sidebar-products__list
		display: flex
		flex-wrap: wrap

	.sidebar-products__items
		flex: 1 0 50%

@media only screen and (min-width: 768px)

	.top-offers
		display: flex

	.top-offers-items
		margin-right: 22px
		&:last-child
			margin-right: 0

	/* раздел best sellers изменяем размер карточки товара */
	.grid-item__row
		align-items: center
		flex-direction: column

	.categories-example__list
		flex-wrap: nowrap

	.new-arrivals
		h2
			margin: 5px 0 55px

	/* раздел new arrivals меню категорий теперь видно */
	.new-arrivals__nav
		display: block
		left: 0
		position: absolute
		top: 37px
		li
			display: inline-block
		a
			color: $warm-grey-four
			font:
				size: .857em
				weight: 500
			margin-left: 10px
			text-transform: uppercase
			&:hover
				color: $dark-sky-blue

	.sidebar-banner
		display: block
		img
			display: block
			height: 340px

	.sidebar__hot-deals
		display: block

	/* обертка изображения слайдера .hot-deals */

	.hot-deals__img
		margin: 15px 0 12px 0
		text-align: center
		img
			height: 228px

	
	/* счетчик до завершения акции */

	#countdown
		border-top: 1px solid $white-three
		display: flex
		width: 100%

	.countdown-items
		background-color: $white-five
		border-right: 1px solid $white-three
		flex: 1
		font-size: 13px
		padding: 13px 17px
		text-align: center
		&:last-child
			border: none
		span
			color: $black-seven
			display: inline-block
			margin-bottom: 9px

	.count-text
		color: $warm-grey-four

	/* описание товара на карточке товара .hot-deals */

	.hot-deals
		.product-info
			text-align: center


	.sidebar-products__list
		display: block

	.sidebar-products__items
		&:last-child
			border-bottom: none

	/* блок с отзывами */

	.sidebar-testim
		display: block
		position: relative
		hr
			border: 0
			border-top: 1px solid $white-three
			bottom: 68px
			margin: 0 auto
			position: absolute
			transform: translateX(8%)
			width: 85%

	/* пункты слайдера отзывов */

	.testim-slider__item
		padding: 0 1.786em 30px 1.786em
		text-align: center
		p
			color: $warm-grey-four
			font:
				family: raleway
			line-height: 1.571em
			margin-bottom: 1.714em
		img
			display: inline-block
			border-radius: 50%
			margin-bottom: 13px

	.testim-author__name
		color: $black-six
		font:
			family: raleway
			size: .929em
			weight: 600
		letter-spacing: .7px
		margin-bottom: .615em
		text-transform: uppercase

	.testim-author__post
		color: $warm-grey-five
		font-weight: 300

	/* блок с новостями */

	.sidebar-news
		display: block

	.sidebar-news__item
		padding: 0 1.429em
		p
			color: $warm-grey-six
			line-height: 20px
			margin-bottom: 1.857em

	.grid-item.sidebar-products__new
		border-bottom: 1px solid $white-three

	.sidebar-news__img
		max-height: 140px
		margin-bottom: 22px
		overflow: hidden
		position: relative

	.news-date__badge
		background-color: $dark-sky-blue
		border-radius: 2px
		color: $white
		font:
			size: 1.286em
			weight: 700
		left: 10px
		padding: 8px 10px
		position: absolute
		top: 10px
		text-transform: uppercase
		span
			display: block
			font-size: .611em

	.sidebar-news__title
		color: $black-six
		font:
			family: raleway
			size: 1.143em
			weight: 500
		margin-bottom: .688em

	.sidebar-news__info
		color: $greyish-brown-two
		font:
			size: .929em
			weight: 300
		margin-bottom: 1.385em

	.link-menu--section
		color: $greyish-brown-two
		margin-right: 8px

	.comments-count
		margin-left: 8px

	.news-link__full
		margin-bottom: 2.357em
		a
			color: $dark-sky-blue
			text-transform: uppercase

	/* главный слайдер изображений отодвинули вправо */

	.main-slider
		.slick-slider
			height: 470px
			margin: 20px 0 20px 25.5%
			margin-top: 20px
			img
				height: 470px
				width: 100%

	.categories-example__list
		.grid-item
			&:first-child
				border-left: 1px solid $white-three

@media only screen and (min-width: 992px)

	.new-arrivals
		h2
			margin: 5px 0 27px

	/* меню раздела new arrivals сдвигаем к правой стенке */
	.new-arrivals__nav
		left: auto
		right: 75px
		top: 8px

	/* баннеры развернуты на полный размер */
	.shop-grid__banner.half-size
		flex-direction: row
		a
			margin-left: 20px
			&:first-child
				margin-left: 0

	/* раздел best sellers, содержимое карточки товара выстраиваем горизонтально */
	.grid-item__row
		align-items: normal
		flex-direction: row
		width: 50%

	/* раздел product categories, карточка товара задаем произвольную ширину */
	.categories-example__list
		.grid-item
			width: auto

	/* раздел product categories, баннер вдвое шире карточки товара */
	.categories-banner
		display: block
		flex: 2 0 auto
		padding: 16px

@media only screen and (min-width: 1200px)

	/* горизонтальные отступы контейнеру больше не нужны */
	.container
		padding: 0

	/* то же, что и для контейнера */
	.header-bar
		padding: 0

	/* стрелки навигации слайдеров товаров сдвигаем вправо */
	.shop-grid__main,
	.categories-list,
	.brand-partners
		.slick-arrow
			right: 0
		.slick-prev
			right: 30px

	.new-arrivals,
	.featured-products,
	.recommended,
	.categories-example,
	.partners-list
		margin-bottom: 39px
		.grid-item
			margin: 0

	/* боковые границы для крайних карточек товара задаем через родителя, чтобы не двоились */
	.product-carousel
		.slick-list
			border-right: 1px solid $white-three
			border-left: 1px solid $white-three
			margin-right: 1px

	.social-header
		display: block
		color: $white
		font:
			family: raleway
			size: 1.071em
			weight: 600
		letter-spacing: 0.4px
		margin: 0 19px 0 25px
		text-transform: uppercase

	.user-action__list
		background-color: $white
		bottom: 104px
		display: none

	.product-rating
		margin: -20px auto 30px

	.categories-example__list
		.product-rating
			margin-bottom: 22px

	.user-action__item
		border: 1px solid $white-four
		border-left: none
		i
			font-size: inherit