<div class="categories-example__list" id="example-list__1">
		<div class="grid-item">
				<div class="product-image"><a href="#"><img src="img/grid_img/electronic/e6_1.jpg" alt="windows tablet"></a>
				<span class="badge badge-hot">Sale</span>
			</div>
				//= user-action.html
				<a href="#" class="product-name">Windows tablet</a>
				<div class="product-price">
					<i class="icon icon-dollar"></i>199.00
				</div>
				<div class="product-rating">
					<div class="rating"></div>
					<div class="rating-fill rating-fill5"></div>
				</div>
		</div>

		<div class="grid-item">
				<div class="product-image"><a href="#"><img src="img/grid_img/electronic/pb_1_3.jpg" alt="powerbank"></a></div>
				//= user-action.html
				<a href="#" class="product-name">Powerbank Aobnc</a>
				<div class="product-price">
					<i class="icon icon-dollar"></i>119.00
				</div>
				<div class="product-rating">
					<div class="rating"></div>
					<div class="rating-fill rating-fill5"></div>
				</div>
		</div>

		<div class="grid-item">
				<div class="product-image"><a href="#"><img src="img/grid_img/electronic/pb_1_2.jpg" alt="power bank"></a>
				<span class="badge badge-new__grid">New</span>
			</div>
				//= user-action.html
				<a href="#" class="product-name">Cillcips Air Purifier A215</a>
				<div class="product-price">
					<i class="icon icon-dollar"></i>189.00
				</div>
				<div class="product-rating">
					<div class="rating"></div>
					<div class="rating-fill rating-fill3"></div>
				</div>
		</div>

		<div class="grid-item">
				<div class="product-image"><a href="#"><img src="img/grid_img/electronic/e2_1.jpg" alt="acoustic"></a>
			</div>
				//= user-action.html
				<a href="#" class="product-name">Acoustic boombastic</a>
				<div class="product-price">
					<i class="icon icon-dollar"></i>287.00
				</div>
				<div class="product-rating">
					<div class="rating"></div>
					<div class="rating-fill rating-fill3"></div>
				</div>
		</div>

		<div class="grid-item categories-banner">
			<a href="#"><img src="img/best_offers/offer_9.jpg" alt="canon eos"></a>
		</div>

</div>	<!-- end grid example list -->

<div class="categories-example__list" id="example-list__2">
		<div class="grid-item">
				<div class="product-image"><a href="#"><img src="img/grid_img/fashion/f2_2.jpg" alt="women's clothing"></a>
				<span class="badge badge-hot">Sale</span>
			</div>
				//= user-action.html
				<a href="#" class="product-name">Slooven Stripped T-shirt</a>
				<div class="product-price">
					<i class="icon icon-dollar"></i>99.00
				</div>
				<div class="product-rating">
					<div class="rating"></div>
					<div class="rating-fill rating-fill4"></div>
				</div>
		</div>

		<div class="grid-item">
				<div class="product-image"><a href="#"><img src="img/grid_img/watch/w1_1.jpg" alt="watch"></a></div>
				//= user-action.html
				<a href="#" class="product-name">Great watch</a>
				<div class="product-price">
					<i class="icon icon-dollar"></i>289.00
				</div>
				<div class="product-rating">
					<div class="rating"></div>
					<div class="rating-fill rating-fill5"></div>
				</div>
		</div>

		<div class="grid-item">
				<div class="product-image"><a href="#"><img src="img/grid_img/electronic/pb_1_2.jpg" alt="power bank"></a>
				<span class="badge badge-new__grid">New</span>
			</div>
				//= user-action.html
				<a href="#" class="product-name">Cillcips Air Purifier A215</a>
				<div class="product-price">
					<i class="icon icon-dollar"></i>189.00
				</div>
				<div class="product-rating">
					<div class="rating"></div>
					<div class="rating-fill rating-fill3"></div>
				</div>
		</div>

		<div class="grid-item">
				<div class="product-image"><a href="#"><img src="img/grid_img/cosmetics/cm1_1.jpg" alt="after shave nivea"></a>
				<span class="badge badge-hot">Sale</span>
			</div>
				//= user-action.html
				<a href="#" class="product-name">Active Shave Lotion 100 ml</a>
				<div class="product-price">
					<i class="icon icon-dollar"></i>87.00
				</div>
				<div class="product-rating">
					<div class="rating"></div>
					<div class="rating-fill rating-fill3"></div>
				</div>
		</div>

		<div class="grid-item categories-banner">
			<a href="#"><img src="img/best_offers/offer_9.jpg" alt="canon eos"></a>
		</div>

</div>	<!-- end grid example list -->

<div class="categories-example__list" id="example-list__3">
		<div class="grid-item">
				<div class="product-image"><a href="#"><img src="img/grid_img/fashion/f2_2.jpg" alt="women's clothing"></a>
				<span class="badge badge-hot">Sale</span>
			</div>
				//= user-action.html
				<a href="#" class="product-name">Slooven Stripped T-shirt</a>
				<div class="product-price">
					<i class="icon icon-dollar"></i>99.00
				</div>
				<div class="product-rating">
					<div class="rating"></div>
					<div class="rating-fill rating-fill4"></div>
				</div>
		</div>

		<div class="grid-item">
				<div class="product-image"><a href="#"><img src="img/grid_img/watch/w1_1.jpg" alt="watch"></a></div>
				//= user-action.html
				<a href="#" class="product-name">Great watch</a>
				<div class="product-price">
					<i class="icon icon-dollar"></i>289.00
				</div>
				<div class="product-rating">
					<div class="rating"></div>
					<div class="rating-fill rating-fill5"></div>
				</div>
		</div>

		<div class="grid-item">
				<div class="product-image"><a href="#"><img src="img/grid_img/electronic/pb_1_2.jpg" alt="power bank"></a>
				<span class="badge badge-new__grid">New</span>
			</div>
				//= user-action.html
				<a href="#" class="product-name">Cillcips Air Purifier A215</a>
				<div class="product-price">
					<i class="icon icon-dollar"></i>189.00
				</div>
				<div class="product-rating">
					<div class="rating"></div>
					<div class="rating-fill rating-fill3"></div>
				</div>
		</div>

		<div class="grid-item">
				<div class="product-image"><a href="#"><img src="img/grid_img/cosmetics/cm1_1.jpg" alt="after shave nivea"></a>
				<span class="badge badge-hot">Sale</span>
			</div>
				//= user-action.html
				<a href="#" class="product-name">Active Shave Lotion 100 ml</a>
				<div class="product-price">
					<i class="icon icon-dollar"></i>87.00
				</div>
				<div class="product-rating">
					<div class="rating"></div>
					<div class="rating-fill rating-fill3"></div>
				</div>
		</div>

		<div class="grid-item categories-banner">
			<a href="#"><img src="img/best_offers/offer_9.jpg" alt="canon eos"></a>
		</div>

</div>	<!-- end grid example list -->

<div class="categories-example__list" id="example-list__4">
		<div class="grid-item">
				<div class="product-image"><a href="#"><img src="img/grid_img/fashion/f2_2.jpg" alt="women's clothing"></a>
				<span class="badge badge-hot">Sale</span>
			</div>
				//= user-action.html
				<a href="#" class="product-name">Slooven Stripped T-shirt</a>
				<div class="product-price">
					<i class="icon icon-dollar"></i>99.00
				</div>
				<div class="product-rating">
					<div class="rating"></div>
					<div class="rating-fill rating-fill4"></div>
				</div>
		</div>

		<div class="grid-item">
				<div class="product-image"><a href="#"><img src="img/grid_img/watch/w1_1.jpg" alt="watch"></a></div>
				//= user-action.html
				<a href="#" class="product-name">Great watch</a>
				<div class="product-price">
					<i class="icon icon-dollar"></i>289.00
				</div>
				<div class="product-rating">
					<div class="rating"></div>
					<div class="rating-fill rating-fill5"></div>
				</div>
		</div>

		<div class="grid-item">
				<div class="product-image"><a href="#"><img src="img/grid_img/electronic/pb_1_2.jpg" alt="power bank"></a>
				<span class="badge badge-new__grid">New</span>
			</div>
				//= user-action.html
				<a href="#" class="product-name">Cillcips Air Purifier A215</a>
				<div class="product-price">
					<i class="icon icon-dollar"></i>189.00
				</div>
				<div class="product-rating">
					<div class="rating"></div>
					<div class="rating-fill rating-fill3"></div>
				</div>
		</div>

		<div class="grid-item">
				<div class="product-image"><a href="#"><img src="img/grid_img/cosmetics/cm1_1.jpg" alt="after shave nivea"></a>
				<span class="badge badge-hot">Sale</span>
			</div>
				//= user-action.html
				<a href="#" class="product-name">Active Shave Lotion 100 ml</a>
				<div class="product-price">
					<i class="icon icon-dollar"></i>87.00
				</div>
				<div class="product-rating">
					<div class="rating"></div>
					<div class="rating-fill rating-fill3"></div>
				</div>
		</div>

		<div class="grid-item categories-banner">
			<a href="#"><img src="img/best_offers/offer_9.jpg" alt="canon eos"></a>
		</div>

</div>	<!-- end grid example list -->

<div class="categories-example__list" id="example-list__5">
		<div class="grid-item">
				<div class="product-image"><a href="#"><img src="img/grid_img/fashion/f2_2.jpg" alt="women's clothing"></a>
				<span class="badge badge-hot">Sale</span>
			</div>
				//= user-action.html
				<a href="#" class="product-name">Slooven Stripped T-shirt</a>
				<div class="product-price">
					<i class="icon icon-dollar"></i>99.00
				</div>
				<div class="product-rating">
					<div class="rating"></div>
					<div class="rating-fill rating-fill4"></div>
				</div>
		</div>

		<div class="grid-item">
				<div class="product-image"><a href="#"><img src="img/grid_img/watch/w1_1.jpg" alt="watch"></a></div>
				//= user-action.html
				<a href="#" class="product-name">Great watch</a>
				<div class="product-price">
					<i class="icon icon-dollar"></i>289.00
				</div>
				<div class="product-rating">
					<div class="rating"></div>
					<div class="rating-fill rating-fill5"></div>
				</div>
		</div>

		<div class="grid-item">
				<div class="product-image"><a href="#"><img src="img/grid_img/electronic/pb_1_2.jpg" alt="power bank"></a>
				<span class="badge badge-new__grid">New</span>
			</div>
				//= user-action.html
				<a href="#" class="product-name">Cillcips Air Purifier A215</a>
				<div class="product-price">
					<i class="icon icon-dollar"></i>189.00
				</div>
				<div class="product-rating">
					<div class="rating"></div>
					<div class="rating-fill rating-fill3"></div>
				</div>
		</div>

		<div class="grid-item">
				<div class="product-image"><a href="#"><img src="img/grid_img/cosmetics/cm1_1.jpg" alt="after shave nivea"></a>
				<span class="badge badge-hot">Sale</span>
			</div>
				//= user-action.html
				<a href="#" class="product-name">Active Shave Lotion 100 ml</a>
				<div class="product-price">
					<i class="icon icon-dollar"></i>87.00
				</div>
				<div class="product-rating">
					<div class="rating"></div>
					<div class="rating-fill rating-fill3"></div>
				</div>
		</div>

		<div class="grid-item categories-banner">
			<a href="#"><img src="img/best_offers/offer_9.jpg" alt="canon eos"></a>
		</div>

</div>	<!-- end grid example list -->

<div class="categories-example__list" id="example-list__6">
		<div class="grid-item">
				<div class="product-image"><a href="#"><img src="img/grid_img/fashion/f2_2.jpg" alt="women's clothing"></a>
				<span class="badge badge-hot">Sale</span>
			</div>
				//= user-action.html
				<a href="#" class="product-name">Slooven Stripped T-shirt</a>
				<div class="product-price">
					<i class="icon icon-dollar"></i>99.00
				</div>
				<div class="product-rating">
					<div class="rating"></div>
					<div class="rating-fill rating-fill4"></div>
				</div>
		</div>

		<div class="grid-item">
				<div class="product-image"><a href="#"><img src="img/grid_img/watch/w1_1.jpg" alt="watch"></a></div>
				//= user-action.html
				<a href="#" class="product-name">Great watch</a>
				<div class="product-price">
					<i class="icon icon-dollar"></i>289.00
				</div>
				<div class="product-rating">
					<div class="rating"></div>
					<div class="rating-fill rating-fill5"></div>
				</div>
		</div>

		<div class="grid-item">
				<div class="product-image"><a href="#"><img src="img/grid_img/electronic/pb_1_2.jpg" alt="power bank"></a>
				<span class="badge badge-new__grid">New</span>
			</div>
				//= user-action.html
				<a href="#" class="product-name">Cillcips Air Purifier A215</a>
				<div class="product-price">
					<i class="icon icon-dollar"></i>189.00
				</div>
				<div class="product-rating">
					<div class="rating"></div>
					<div class="rating-fill rating-fill3"></div>
				</div>
		</div>

		<div class="grid-item">
				<div class="product-image"><a href="#"><img src="img/grid_img/cosmetics/cm1_1.jpg" alt="after shave nivea"></a>
				<span class="badge badge-hot">Sale</span>
			</div>
				//= user-action.html
				<a href="#" class="product-name">Active Shave Lotion 100 ml</a>
				<div class="product-price">
					<i class="icon icon-dollar"></i>87.00
				</div>
				<div class="product-rating">
					<div class="rating"></div>
					<div class="rating-fill rating-fill3"></div>
				</div>
		</div>

		<div class="grid-item categories-banner">
			<a href="#"><img src="img/best_offers/offer_9.jpg" alt="canon eos"></a>
		</div>

</div>	<!-- end grid example list -->

<div class="categories-example__list" id="example-list__7">
		<div class="grid-item">
				<div class="product-image"><a href="#"><img src="img/grid_img/fashion/f2_2.jpg" alt="women's clothing"></a>
				<span class="badge badge-hot">Sale</span>
			</div>
				//= user-action.html
				<a href="#" class="product-name">Slooven Stripped T-shirt</a>
				<div class="product-price">
					<i class="icon icon-dollar"></i>99.00
				</div>
				<div class="product-rating">
					<div class="rating"></div>
					<div class="rating-fill rating-fill4"></div>
				</div>
		</div>

		<div class="grid-item">
				<div class="product-image"><a href="#"><img src="img/grid_img/watch/w1_1.jpg" alt="watch"></a></div>
				//= user-action.html
				<a href="#" class="product-name">Great watch</a>
				<div class="product-price">
					<i class="icon icon-dollar"></i>289.00
				</div>
				<div class="product-rating">
					<div class="rating"></div>
					<div class="rating-fill rating-fill5"></div>
				</div>
		</div>

		<div class="grid-item">
				<div class="product-image"><a href="#"><img src="img/grid_img/electronic/pb_1_2.jpg" alt="power bank"></a>
				<span class="badge badge-new__grid">New</span>
			</div>
				//= user-action.html
				<a href="#" class="product-name">Cillcips Air Purifier A215</a>
				<div class="product-price">
					<i class="icon icon-dollar"></i>189.00
				</div>
				<div class="product-rating">
					<div class="rating"></div>
					<div class="rating-fill rating-fill3"></div>
				</div>
		</div>

		<div class="grid-item">
				<div class="product-image"><a href="#"><img src="img/grid_img/cosmetics/cm1_1.jpg" alt="after shave nivea"></a>
				<span class="badge badge-hot">Sale</span>
			</div>
				//= user-action.html
				<a href="#" class="product-name">Active Shave Lotion 100 ml</a>
				<div class="product-price">
					<i class="icon icon-dollar"></i>87.00
				</div>
				<div class="product-rating">
					<div class="rating"></div>
					<div class="rating-fill rating-fill3"></div>
				</div>
		</div>

		<div class="grid-item categories-banner">
			<a href="#"><img src="img/best_offers/offer_9.jpg" alt="canon eos"></a>
		</div>

</div>	<!-- end grid example list -->

<div class="categories-example__list" id="example-list__8">
		<div class="grid-item">
				<div class="product-image"><a href="#"><img src="img/grid_img/fashion/f2_2.jpg" alt="women's clothing"></a>
				<span class="badge badge-hot">Sale</span>
			</div>
				//= user-action.html
				<a href="#" class="product-name">Slooven Stripped T-shirt</a>
				<div class="product-price">
					<i class="icon icon-dollar"></i>99.00
				</div>
				<div class="product-rating">
					<div class="rating"></div>
					<div class="rating-fill rating-fill4"></div>
				</div>
		</div>

		<div class="grid-item">
				<div class="product-image"><a href="#"><img src="img/grid_img/watch/w1_1.jpg" alt="watch"></a></div>
				//= user-action.html
				<a href="#" class="product-name">Great watch</a>
				<div class="product-price">
					<i class="icon icon-dollar"></i>289.00
				</div>
				<div class="product-rating">
					<div class="rating"></div>
					<div class="rating-fill rating-fill5"></div>
				</div>
		</div>

		<div class="grid-item">
				<div class="product-image"><a href="#"><img src="img/grid_img/electronic/pb_1_2.jpg" alt="power bank"></a>
				<span class="badge badge-new__grid">New</span>
			</div>
				//= user-action.html
				<a href="#" class="product-name">Cillcips Air Purifier A215</a>
				<div class="product-price">
					<i class="icon icon-dollar"></i>189.00
				</div>
				<div class="product-rating">
					<div class="rating"></div>
					<div class="rating-fill rating-fill3"></div>
				</div>
		</div>

		<div class="grid-item">
				<div class="product-image"><a href="#"><img src="img/grid_img/cosmetics/cm1_1.jpg" alt="after shave nivea"></a>
				<span class="badge badge-hot">Sale</span>
			</div>
				//= user-action.html
				<a href="#" class="product-name">Active Shave Lotion 100 ml</a>
				<div class="product-price">
					<i class="icon icon-dollar"></i>87.00
				</div>
				<div class="product-rating">
					<div class="rating"></div>
					<div class="rating-fill rating-fill3"></div>
				</div>
		</div>

		<div class="grid-item categories-banner">
			<a href="#"><img src="img/best_offers/offer_9.jpg" alt="canon eos"></a>
		</div>

</div>	<!-- end grid example list -->

<div class="categories-example__list" id="example-list__9">
		<div class="grid-item">
				<div class="product-image"><a href="#"><img src="img/grid_img/fashion/f2_2.jpg" alt="women's clothing"></a>
				<span class="badge badge-hot">Sale</span>
			</div>
				//= user-action.html
				<a href="#" class="product-name">Slooven Stripped T-shirt</a>
				<div class="product-price">
					<i class="icon icon-dollar"></i>99.00
				</div>
				<div class="product-rating">
					<div class="rating"></div>
					<div class="rating-fill rating-fill4"></div>
				</div>
		</div>

		<div class="grid-item">
				<div class="product-image"><a href="#"><img src="img/grid_img/watch/w1_1.jpg" alt="watch"></a></div>
				//= user-action.html
				<a href="#" class="product-name">Great watch</a>
				<div class="product-price">
					<i class="icon icon-dollar"></i>289.00
				</div>
				<div class="product-rating">
					<div class="rating"></div>
					<div class="rating-fill rating-fill5"></div>
				</div>
		</div>

		<div class="grid-item">
				<div class="product-image"><a href="#"><img src="img/grid_img/electronic/pb_1_2.jpg" alt="power bank"></a>
				<span class="badge badge-new__grid">New</span>
			</div>
				//= user-action.html
				<a href="#" class="product-name">Cillcips Air Purifier A215</a>
				<div class="product-price">
					<i class="icon icon-dollar"></i>189.00
				</div>
				<div class="product-rating">
					<div class="rating"></div>
					<div class="rating-fill rating-fill3"></div>
				</div>
		</div>

		<div class="grid-item">
				<div class="product-image"><a href="#"><img src="img/grid_img/cosmetics/cm1_1.jpg" alt="after shave nivea"></a>
				<span class="badge badge-hot">Sale</span>
			</div>
				//= user-action.html
				<a href="#" class="product-name">Active Shave Lotion 100 ml</a>
				<div class="product-price">
					<i class="icon icon-dollar"></i>87.00
				</div>
				<div class="product-rating">
					<div class="rating"></div>
					<div class="rating-fill rating-fill3"></div>
				</div>
		</div>

		<div class="grid-item categories-banner">
			<a href="#"><img src="img/best_offers/offer_9.jpg" alt="canon eos"></a>
		</div>

</div>	<!-- end grid example list -->

<div class="categories-example__list" id="example-list__10">
		<div class="grid-item">
				<div class="product-image"><a href="#"><img src="img/grid_img/fashion/f2_2.jpg" alt="women's clothing"></a>
				<span class="badge badge-hot">Sale</span>
			</div>
				//= user-action.html
				<a href="#" class="product-name">Slooven Stripped T-shirt</a>
				<div class="product-price">
					<i class="icon icon-dollar"></i>99.00
				</div>
				<div class="product-rating">
					<div class="rating"></div>
					<div class="rating-fill rating-fill4"></div>
				</div>
		</div>

		<div class="grid-item">
				<div class="product-image"><a href="#"><img src="img/grid_img/watch/w1_1.jpg" alt="watch"></a></div>
				//= user-action.html
				<a href="#" class="product-name">Great watch</a>
				<div class="product-price">
					<i class="icon icon-dollar"></i>289.00
				</div>
				<div class="product-rating">
					<div class="rating"></div>
					<div class="rating-fill rating-fill5"></div>
				</div>
		</div>

		<div class="grid-item">
				<div class="product-image"><a href="#"><img src="img/grid_img/electronic/pb_1_2.jpg" alt="power bank"></a>
				<span class="badge badge-new__grid">New</span>
			</div>
				//= user-action.html
				<a href="#" class="product-name">Cillcips Air Purifier A215</a>
				<div class="product-price">
					<i class="icon icon-dollar"></i>189.00
				</div>
				<div class="product-rating">
					<div class="rating"></div>
					<div class="rating-fill rating-fill3"></div>
				</div>
		</div>

		<div class="grid-item">
				<div class="product-image"><a href="#"><img src="img/grid_img/cosmetics/cm1_1.jpg" alt="after shave nivea"></a>
				<span class="badge badge-hot">Sale</span>
			</div>
				//= user-action.html
				<a href="#" class="product-name">Active Shave Lotion 100 ml</a>
				<div class="product-price">
					<i class="icon icon-dollar"></i>87.00
				</div>
				<div class="product-rating">
					<div class="rating"></div>
					<div class="rating-fill rating-fill3"></div>
				</div>
		</div>

		<div class="grid-item categories-banner">
			<a href="#"><img src="img/best_offers/offer_9.jpg" alt="canon eos"></a>
		</div>

</div>	<!-- end grid example list -->

<div class="categories-example__list" id="example-list__11">
		<div class="grid-item">
				<div class="product-image"><a href="#"><img src="img/grid_img/fashion/f2_2.jpg" alt="women's clothing"></a>
				<span class="badge badge-hot">Sale</span>
			</div>
				//= user-action.html
				<a href="#" class="product-name">Slooven Stripped T-shirt</a>
				<div class="product-price">
					<i class="icon icon-dollar"></i>99.00
				</div>
				<div class="product-rating">
					<div class="rating"></div>
					<div class="rating-fill rating-fill4"></div>
				</div>
		</div>

		<div class="grid-item">
				<div class="product-image"><a href="#"><img src="img/grid_img/watch/w1_1.jpg" alt="watch"></a></div>
				//= user-action.html
				<a href="#" class="product-name">Great watch</a>
				<div class="product-price">
					<i class="icon icon-dollar"></i>289.00
				</div>
				<div class="product-rating">
					<div class="rating"></div>
					<div class="rating-fill rating-fill5"></div>
				</div>
		</div>

		<div class="grid-item">
				<div class="product-image"><a href="#"><img src="img/grid_img/electronic/pb_1_2.jpg" alt="power bank"></a>
				<span class="badge badge-new__grid">New</span>
			</div>
				//= user-action.html
				<a href="#" class="product-name">Cillcips Air Purifier A215</a>
				<div class="product-price">
					<i class="icon icon-dollar"></i>189.00
				</div>
				<div class="product-rating">
					<div class="rating"></div>
					<div class="rating-fill rating-fill3"></div>
				</div>
		</div>

		<div class="grid-item">
				<div class="product-image"><a href="#"><img src="img/grid_img/cosmetics/cm1_1.jpg" alt="after shave nivea"></a>
				<span class="badge badge-hot">Sale</span>
			</div>
				//= user-action.html
				<a href="#" class="product-name">Active Shave Lotion 100 ml</a>
				<div class="product-price">
					<i class="icon icon-dollar"></i>87.00
				</div>
				<div class="product-rating">
					<div class="rating"></div>
					<div class="rating-fill rating-fill3"></div>
				</div>
		</div>

		<div class="grid-item categories-banner">
			<a href="#"><img src="img/best_offers/offer_9.jpg" alt="canon eos"></a>
		</div>

</div>	<!-- end grid example list -->

<div class="categories-example__list" id="example-list__12">
		<div class="grid-item">
				<div class="product-image"><a href="#"><img src="img/grid_img/fashion/f2_2.jpg" alt="women's clothing"></a>
				<span class="badge badge-hot">Sale</span>
			</div>
				//= user-action.html
				<a href="#" class="product-name">Slooven Stripped T-shirt</a>
				<div class="product-price">
					<i class="icon icon-dollar"></i>99.00
				</div>
				<div class="product-rating">
					<div class="rating"></div>
					<div class="rating-fill rating-fill4"></div>
				</div>
		</div>

		<div class="grid-item">
				<div class="product-image"><a href="#"><img src="img/grid_img/watch/w1_1.jpg" alt="watch"></a></div>
				//= user-action.html
				<a href="#" class="product-name">Great watch</a>
				<div class="product-price">
					<i class="icon icon-dollar"></i>289.00
				</div>
				<div class="product-rating">
					<div class="rating"></div>
					<div class="rating-fill rating-fill5"></div>
				</div>
		</div>

		<div class="grid-item">
				<div class="product-image"><a href="#"><img src="img/grid_img/electronic/pb_1_2.jpg" alt="power bank"></a>
				<span class="badge badge-new__grid">New</span>
			</div>
				//= user-action.html
				<a href="#" class="product-name">Cillcips Air Purifier A215</a>
				<div class="product-price">
					<i class="icon icon-dollar"></i>189.00
				</div>
				<div class="product-rating">
					<div class="rating"></div>
					<div class="rating-fill rating-fill3"></div>
				</div>
		</div>

		<div class="grid-item">
				<div class="product-image"><a href="#"><img src="img/grid_img/cosmetics/cm1_1.jpg" alt="after shave nivea"></a>
				<span class="badge badge-hot">Sale</span>
			</div>
				//= user-action.html
				<a href="#" class="product-name">Active Shave Lotion 100 ml</a>
				<div class="product-price">
					<i class="icon icon-dollar"></i>87.00
				</div>
				<div class="product-rating">
					<div class="rating"></div>
					<div class="rating-fill rating-fill3"></div>
				</div>
		</div>

		<div class="grid-item categories-banner">
			<a href="#"><img src="img/best_offers/offer_9.jpg" alt="canon eos"></a>
		</div>

</div>	<!-- end grid example list -->

<div class="categories-example__list" id="example-list__13">
		<div class="grid-item">
				<div class="product-image"><a href="#"><img src="img/grid_img/fashion/f2_2.jpg" alt="women's clothing"></a>
				<span class="badge badge-hot">Sale</span>
			</div>
				//= user-action.html
				<a href="#" class="product-name">Slooven Stripped T-shirt</a>
				<div class="product-price">
					<i class="icon icon-dollar"></i>99.00
				</div>
				<div class="product-rating">
					<div class="rating"></div>
					<div class="rating-fill rating-fill4"></div>
				</div>
		</div>

		<div class="grid-item">
				<div class="product-image"><a href="#"><img src="img/grid_img/watch/w1_1.jpg" alt="watch"></a></div>
				//= user-action.html
				<a href="#" class="product-name">Great watch</a>
				<div class="product-price">
					<i class="icon icon-dollar"></i>289.00
				</div>
				<div class="product-rating">
					<div class="rating"></div>
					<div class="rating-fill rating-fill5"></div>
				</div>
		</div>

		<div class="grid-item">
				<div class="product-image"><a href="#"><img src="img/grid_img/electronic/pb_1_2.jpg" alt="power bank"></a>
				<span class="badge badge-new__grid">New</span>
			</div>
				//= user-action.html
				<a href="#" class="product-name">Cillcips Air Purifier A215</a>
				<div class="product-price">
					<i class="icon icon-dollar"></i>189.00
				</div>
				<div class="product-rating">
					<div class="rating"></div>
					<div class="rating-fill rating-fill3"></div>
				</div>
		</div>

		<div class="grid-item">
				<div class="product-image"><a href="#"><img src="img/grid_img/cosmetics/cm1_1.jpg" alt="after shave nivea"></a>
				<span class="badge badge-hot">Sale</span>
			</div>
				//= user-action.html
				<a href="#" class="product-name">Active Shave Lotion 100 ml</a>
				<div class="product-price">
					<i class="icon icon-dollar"></i>87.00
				</div>
				<div class="product-rating">
					<div class="rating"></div>
					<div class="rating-fill rating-fill3"></div>
				</div>
		</div>

		<div class="grid-item categories-banner">
			<a href="#"><img src="img/best_offers/offer_9.jpg" alt="canon eos"></a>
		</div>

</div>	<!-- end grid example list -->

<div class="categories-example__list" id="example-list__14">
		<div class="grid-item">
				<div class="product-image"><a href="#"><img src="img/grid_img/fashion/f2_2.jpg" alt="women's clothing"></a>
				<span class="badge badge-hot">Sale</span>
			</div>
				//= user-action.html
				<a href="#" class="product-name">Slooven Stripped T-shirt</a>
				<div class="product-price">
					<i class="icon icon-dollar"></i>99.00
				</div>
				<div class="product-rating">
					<div class="rating"></div>
					<div class="rating-fill rating-fill4"></div>
				</div>
		</div>

		<div class="grid-item">
				<div class="product-image"><a href="#"><img src="img/grid_img/watch/w1_1.jpg" alt="watch"></a></div>
				//= user-action.html
				<a href="#" class="product-name">Great watch</a>
				<div class="product-price">
					<i class="icon icon-dollar"></i>289.00
				</div>
				<div class="product-rating">
					<div class="rating"></div>
					<div class="rating-fill rating-fill5"></div>
				</div>
		</div>

		<div class="grid-item">
				<div class="product-image"><a href="#"><img src="img/grid_img/electronic/pb_1_2.jpg" alt="power bank"></a>
				<span class="badge badge-new__grid">New</span>
			</div>
				//= user-action.html
				<a href="#" class="product-name">Cillcips Air Purifier A215</a>
				<div class="product-price">
					<i class="icon icon-dollar"></i>189.00
				</div>
				<div class="product-rating">
					<div class="rating"></div>
					<div class="rating-fill rating-fill3"></div>
				</div>
		</div>

		<div class="grid-item">
				<div class="product-image"><a href="#"><img src="img/grid_img/cosmetics/cm1_1.jpg" alt="after shave nivea"></a>
				<span class="badge badge-hot">Sale</span>
			</div>
				//= user-action.html
				<a href="#" class="product-name">Active Shave Lotion 100 ml</a>
				<div class="product-price">
					<i class="icon icon-dollar"></i>87.00
				</div>
				<div class="product-rating">
					<div class="rating"></div>
					<div class="rating-fill rating-fill3"></div>
				</div>
		</div>

		<div class="grid-item categories-banner">
			<a href="#"><img src="img/best_offers/offer_9.jpg" alt="canon eos"></a>
		</div>

</div>	<!-- end grid example list -->

<div class="categories-example__list" id="example-list__15">
		<div class="grid-item">
				<div class="product-image"><a href="#"><img src="img/grid_img/fashion/f2_2.jpg" alt="women's clothing"></a>
				<span class="badge badge-hot">Sale</span>
			</div>
				//= user-action.html
				<a href="#" class="product-name">Slooven Stripped T-shirt</a>
				<div class="product-price">
					<i class="icon icon-dollar"></i>99.00
				</div>
				<div class="product-rating">
					<div class="rating"></div>
					<div class="rating-fill rating-fill4"></div>
				</div>
		</div>

		<div class="grid-item">
				<div class="product-image"><a href="#"><img src="img/grid_img/watch/w1_1.jpg" alt="watch"></a></div>
				//= user-action.html
				<a href="#" class="product-name">Great watch</a>
				<div class="product-price">
					<i class="icon icon-dollar"></i>289.00
				</div>
				<div class="product-rating">
					<div class="rating"></div>
					<div class="rating-fill rating-fill5"></div>
				</div>
		</div>

		<div class="grid-item">
				<div class="product-image"><a href="#"><img src="img/grid_img/electronic/pb_1_2.jpg" alt="power bank"></a>
				<span class="badge badge-new__grid">New</span>
			</div>
				//= user-action.html
				<a href="#" class="product-name">Cillcips Air Purifier A215</a>
				<div class="product-price">
					<i class="icon icon-dollar"></i>189.00
				</div>
				<div class="product-rating">
					<div class="rating"></div>
					<div class="rating-fill rating-fill3"></div>
				</div>
		</div>

		<div class="grid-item">
				<div class="product-image"><a href="#"><img src="img/grid_img/cosmetics/cm1_1.jpg" alt="after shave nivea"></a>
				<span class="badge badge-hot">Sale</span>
			</div>
				//= user-action.html
				<a href="#" class="product-name">Active Shave Lotion 100 ml</a>
				<div class="product-price">
					<i class="icon icon-dollar"></i>87.00
				</div>
				<div class="product-rating">
					<div class="rating"></div>
					<div class="rating-fill rating-fill3"></div>
				</div>
		</div>

		<div class="grid-item categories-banner">
			<a href="#"><img src="img/best_offers/offer_9.jpg" alt="canon eos"></a>
		</div>

</div>	<!-- end grid example list -->
