<div class="contact-us">
	<div class="container">
		<div class="contact-us__inner">
			<div class="newsletter-header">
				<i class="icon icon-send-o"></i>
				<span>signup to newsletter</span>
			</div>
			<form action="" class="newsletter-form">
				<input type="email" class="form-input newsletter-input" placeholder="Enter Your Email Address">
				<input type="submit" value="submit" class="form-submit newsletter-submit">
			</form>
			<div class="social-contact">
				<span class="social-header">keep on touch</span>
				<ul class="social-contact__list">
					<li><a href="#"><i class="icon icon-twitter"></i></a></li>
					<li><a href="#"><i class="icon icon-facebook"></i></a></li>
					<li><a href="#"><i class="icon icon-instagram"></i></a></li>
					<li><a href="#"><i class="icon icon-pinterest"></i></a></li>
					<li><a href="#"><i class="icon icon-vimeo"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>