<div class="container">
	<div class="footer-inner">
		<div class="footer-contact">
			<div class="footer-logo"><a href="#" class="logo__link footer-logo__link"><img src="img/logo_footer.svg" alt="logo footer"><span>supermart</span></a></div>
			<p>Many say exploration is part of our dest but it’s actually our duty to future and their.</p>
				<address class="footer-address">
					<div class="address-item">Address: <span>868 Fake Street, New York</span></div>
					<div class="address-item">Phone: <a href="tel:(08) 08 4752 1499">(08) 08 4752 1499</a></div>
					<div class="address-item">Email: <a href="mailto:info@supermart.com">info@supermart.com</a></div>
				</address>
		</div>
			<div class="footer-nav__column">
				<h3>company</h3>
				<ul class="footer-nav__link">
					<li><a href="#">Discount Vouches</a></li>
					<li><a href="#">Spring Collection</a></li>
					<li><a href="#">Trending</a></li>
					<li><a href="#">Best Sellers</a></li>
					<li><a href="#">Special Deals</a></li>
				</ul>
			</div>
			<div class="footer-nav__column">
				<h3>policy info</h3>
				<ul class="footer-nav__link">
					<li><a href="#">Orders & Returns</a></li>
					<li><a href="#">Advanced Search</a></li>
					<li><a href="#">Help & FAQs</a></li>
					<li><a href="#">Consultant</a></li>
					<li><a href="#">Store Locations</a></li>
				</ul>
			</div>
			<div class="footer-nav__column">
				<h3>my account</h3>
				<ul class="footer-nav__link">
					<li><a href="#">About Us</a></li>
					<li><a href="#">Delivery Information</a></li>
					<li><a href="#">Privacy Policy</a></li>
					<li><a href="#">Terms & Conditions</a></li>
					<li><a href="#">Custom Link</a></li>
				</ul>
			</div>
	</div>
</div>
<div class="footer-bottom">
	<div class="container">
		<div class="footer-bottom__inner">
			<span class="copyright">&copy; Copyright - Supermart Template by DesignFalls</span>
			<span class="accept-payment"><img src="img/payment_card.jpg" alt="accept-payment"></span>
		</div>
	</div>
</div>