<header class="header">

	<div class="header-top">
		<div class="container">

			<div class="header-bar">


				<div class="header-top__registration">

					<div class="header-top__entry-switcher">

						<a href="#" class="login signup">Login / Signup</a>

						//= signup.html

					</div>	<!-- end .header-top-login -->

					<div class="header-top__currency">

						<span class="currency__switcher">usd</span>

						<ul class="currency-list">
							<li>rub</li>
							<li>eur</li>
							<li>byn</li>
							<li>cnh</li>
							<li>pln</li>
						</ul>

					</div>	<!-- end .header-top-currency -->

					<div class="language-block language-block__mobile">
						<span class="language__switcher"><i class="flag flag-britain">English</i></span>
						<ul class="language-list">
							<li><i class="flag flag-russia">Russian</i></li>
						</ul>
					</div>

				</div>	<!-- end .header-top-regestration -->


				<div class="user-assistance">
					<span class="help-link"><a href="#">Help</a></span>
					<span class="wishlist-link"><i class="icon icon-heart-o"></i><a href="#">Wishlist</a></span>
					<div class="language-block">
						<span class="language__switcher"><i class="flag flag-britain">English</i></span>
						<ul class="language-list">
							<li><i class="flag flag-russia">Russian</i></li>
						</ul>
					</div>
					<span class="app-link"><a href="https://play.google.com/store/apps" class="btn btn-app">download app</a></span>
				</div>	<!-- end .header-top-info -->

			</div>	<!-- end .header-top-bar -->

		</div>
	</div>	<!-- end .header-top -->


	<div class="header-bottom">

		<div class="header-bottom-search">
			<div class="container">

				<div class="header-bar">

					<div class="header-logo"><a href="/"  class="logo__link"><img src="img/logo_footer.svg" alt="superMart logo"><span>supermart</span></a></div>

					<span class="form-submit form-toggle"><i class="icon icon-search"></i></span>
					<div class="header-search">

						<form action="/" method="GET" class="search-form">

							<div class="search-form__outer">
								<input type="text" placeholder="Search..." class="form-input" value>
								<button type="submit" class="form-submit">
									<i class="icon icon-search"></i>
								</button>
							</div>

							<div class="categories-form__block">
								<i class="icon icon-angle-left"></i>
								<select name="categories-form" class="categories-form">
									<option value="all">All Categories</option>
									<option value="fashion">Fashion & Clothing</option>
									<option value="mobile">Mobile Phones</option>
									<option value="sports">Sports & Outerwear</option>
									<option value="foods">Foods & Fruits</option>
									<option value="health">Beauty & Health</option>
									<option value="shoes">Shoes & Bags</option>
									<option value="home">Decors & Home</option>
									<option value="electronics">Electronics & Hitech</option>
									<option value="accessories">Accessories</option>
									<option value="software">Digital Software</option>
								</select>
							</div>

						</form>

					</div>	<!-- end .header-search -->

					<div class="header-cart">
						<a href="#" class="header-cart__link"><i class="icon icon-shopping-bag"></i></a>

						<div class="header-cart__count">
							<span class="header-cart__item">
								0
								<span>&nbsp;item:</span>
							</span>

							<span class="header-cart__total">$
									<span class="total-sum">0.00</span>
							</span>
						</div>
							
					</div>	<!-- end .header-cart -->

					<!-- burger button for toggle menu in mobile version -->

					<button class="hamburger hamburger--vortex" type="button">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</button>

				</div>

			</div>

		</div>	<!-- end .header-bottom-search -->

		<div class="header-bottom-nav">
			<div class="container">

				<div class="header-bar">

					<nav>
						<ul class="main-menu">
							<li class="main-menu__item main-menu__toggle">
								<button class="hamburger hamburger--vortex" type="button">
									<span class="hamburger-box">
										<span class="hamburger-inner"></span>
									</span>
								</button>
							</li>
							<li class="main-menu__item main-menu__help">
								<div class="user-assistance">
									<span class="help-link"><a href="#">Help</a></span>
									<span class="wishlist-link"><i class="icon icon-heart-o"></i><a href="#">Wishlist</a></span>
									<span class="app-link"><a href="https://play.google.com/store/apps" class="btn btn-app">download app</a></span>
								</div>
							</li>
							<li class="catalog">
								<div class="catalog-header">
									Departments
									<i class="icon icon-bars"></i>
								</div>
							</li>
							<li class="main-menu__item"><a href="#" class="main-menu__link">home</a></li>
							<li class="main-menu__item"><a href="#" class="main-menu__link">shop</a></li>
							<li class="main-menu__item"><a href="#" class="main-menu__link">fashion</a><span class="badge badge-hot">hot</span></li>
							<li class="main-menu__item"><a href="#" class="main-menu__link">elecronics</a><span class="badge badge-new">new</span></li>
							<li class="main-menu__item"><a href="#" class="main-menu__link">pages</a></li>
							<li class="main-menu__item"><a href="#" class="main-menu__link">features</a></li>
							<li class="main-menu__item"><a href="#" class="main-menu__link">blog</a></li>
							<li class="contact-phone"><span>call us free:&nbsp;</span><a href="tel:18007777889" class="main-menu__phone"><i class="icon icon-mobile"></i><span class="contact-phone__num">1-800-777-7889</span class="contact-phone__num"></a></li>
						</ul>
					</nav>

				</div>

			</div>
		</div>	<!-- end .header-bottom-nav -->

	</div>	<!-- end .header-bottom -->

</header>