<div class="our-advantages">
	<div class="container">
		<div class="advantages__grid">
			<div class="advantages-grid__item">
				<div class="advantages-img"><img src="img/footer_icon/Icon.png" alt="free shiping for your cart"></div>
				<h4>free shiping</h4>
				<p class="advantages-text">Free Shipping on World wide Order
					Over $99.</p>
			</div>
			<div class="advantages-grid__item">
				<div class="advantages-img"><img src="img/footer_icon/Icon-1.png" alt="trusted pay with guard"></div>
				<h4>trusted pay</h4>
				<p class="advantages-text">100% Payment Protection & 
					Easy Return</p>
			</div>
			<div class="advantages-grid__item">
				<div class="advantages-img"><img src="img/footer_icon/Icon-2.png" alt="secured payment for card"></div>
				<h4>secured payment</h4>
				<p class="advantages-text">All Major Credit & Debit Cards
					Accepted</p>
			</div>
			<div class="advantages-grid__item">
				<div class="advantages-img"><img src="img/footer_icon/Icon-3.png" alt="shop on app in phone"></div>
				<h4>shop on app</h4>
				<p class="advantages-text">Just Dowload our App & Shop 
					With Best Offers!</p>
			</div>
		</div>
	</div>
</div>