
@import '../base/_variables.sass'

.header-top
	background-color: $cornflower-blue
	height: 42px
	a
		color: $white
		&:hover
			color: $charcoal-grey

/* switcher registration or entry */

.header-top__registration
	display: flex

.header-top__registration
	color: $white
	a
		font-size: .8571em
		letter-spacing: 0.4px

/* choice currency block */

.header-top__currency
	border-left: 1px solid rgba(255, 255, 255, .1)
	margin-left: 1.42857em
	padding-left: 1.42857em
	text-transform: uppercase
	position: relative

.currency__switcher
	cursor: pointer
	&:after
		content: ''
		display: block
		border-style: solid
		border-width: 5px 5px 0 5px
		border-color: $white transparent transparent transparent
		position: absolute
		bottom: 5px
		left: 53px
		transition: all .7 ease-in-out
	&.active:after
		transform: rotate(180deg)

.currency-list
	background-color: $cornflower-blue
	display: none
	left: 8px
	padding: 10px
	position: absolute
	top: 28px
	z-index: 10
	li
		cursor: pointer
		padding: 5px 0
	&.active
		display: block

/* .header-top__info include: help, wishlist, language, app button */

.header-top__info
	align-items: center
	display: flex

.help-link,
.wishlist-link
	border-right: 1px solid rgba(255, 255, 255, .1)
	color: $white
	margin-left: 20px
	padding-right: 15px
	a
		font-size: .857em
		letter-spacing: .4px
		&:hover
			color: $charcoal-grey
	&:hover .icon-heart-o:before
		color: $charcoal-grey

.icon-heart-o
	font-size: 12px
	margin-right: 6px

.language-block
	position: relative

.language__switcher
	padding-left: 20px
	&:after
		content: ''
		display: block
		border-style: solid
		border-width: 5px 5px 0 5px
		border-color: $white transparent transparent transparent
		position: absolute
		bottom: 5px
		right: -22%
		transition: all .7 ease-in-out
	&.active:after
		transform: rotate(180deg)

.flag
	color: $white
	cursor: pointer
	height: 19px
	padding-left: 24px
	width: 100%

.flag-russia
	background: url(../img/russia.svg) 0 0 no-repeat

.flag-britain
	background: url(../img/united-kingdom.svg) 0 0 no-repeat

.language-list
	background-color: $cornflower-blue
	display: none
	left: 12px
	padding: 9px
	position: absolute
	top: 24px
	z-index: 10

.app-link
	background-color: rgba(0, 0, 0, .1)
	border-radius: 2px
	margin-left: 38px
	padding: 8px 10px

.btn-app
	color: $white
	font:
		size: .875em
		weight: 500
	letter-spacing: 0.3px
	text-transform: uppercase

/* -----------------  begin middle line of header  ---------------- */

.header-bottom
	background-color: $dark-sky-blue

.header-bottom-search
	padding: 27px 0 33px 0

/* logo */

.header-logo__link
	color: $white
	font:
		family: raleway
		size: 1.857em
		weight: 700
	text-transform: uppercase
	span
		vertical-align: super

/* search form and choose categories */

.header-search
	position: relative
	width: 60%

.search-form__block
	width: 100%
	
.search-form-input
	border: none
	border-radius: 2px
	color: $dark-grey-two
	font-size: 1.143em
	padding: 13px 0 14px 14px
	width: 100%

.search-form-input::-webkit-input-placeholder
	font-size: 12px
	color: $greyish

.search-form-input::-moz-placeholder
	font-size: 12px
	color: $greyish

.search-form-input:-ms-input-placeholder
	font-size: 12px
	color: $greyish

.search-form-input:-moz-placeholder
	font-size: 12px
	color: $greyish

.search-form-submit
	background-color: $mango
	border: none
	cursor: pointer
	height: 100%
	position: absolute
	right: 0
	top: 0
	width: 46px

.categories-form__block
	border-left: 1px solid $white-two
	height: 100%
	position: absolute
	right: 47px
	top: 0
	.icon
		background-color: $white
		height: 25px
		position: absolute
		right: 10px
		top: 7px
		transform: rotate(-90deg)
		width: 10px
		&:before
			font-size: 16px

.categories-form
	border: none
	color: $dark-grey-two
	cursor: pointer
	font:
		family: roboto
		size: .929em
		weight: 500
	height: 100%
	outline: none
	padding-left: 8px

/* header cart and counter */

.header-cart
	background-color: $white

.header-cart__link
	border-right: 1px solid $white-three
	display: inline-block
	height: 46px
	padding: 13px 0
	text-align: center
	width: 46px
	&:hover .icon-shopping-bag
		color: $cornflower-blue

.icon-shopping-bag
	color: $black-three
	font-size: 20px
	transition: color .4s ease-in-out

.header-cart__count
	display: inline-block
	font-size: 12px
	padding: 0 10px
	vertical-align: super

.header-cart__total
	color: $dark-sky-blue