@import "../base/_variables.sass"

/* размер основного раздела */
.shop-grid__main
	width: calc(100% - 300px)
	h2
		margin: 5px 0 27px

/* ----- NEW ARRIVALS ----- */

/* карточка товара для раздела new arrivals */

.new-arrivals
	margin-bottom: 40px
	.grid-item
		margin-bottom: 0
		border-left: none
		position: relative
		text-align: center
		&:hover
			box-shadow: 0px 2px 15px 0 rgba(0, 0, 0, 0.08)
		&:hover .user-action__list
			display: block
	.product-image
		min-height: 225px

/* шапка раздела */

.shop-grid__header
	position: relative

/* навигация по категориям товара в разделе new arrivals */

.new-arrivals__nav
	position: absolute
	right: 75px
	top: 8px
	li
		display: inline-block
	a
		color: $warm-grey-four
		font:
			size: .857em
			weight: 500
		margin-left: 25%
		text-transform: uppercase
		&:hover
			color: $dark-sky-blue

/* ----- END NEW ARRIVALS ----- */



/* ----- SHOP GRID BANNER ----- */

/* баннеры идущие после секции new arrivals */

.shop-grid__banner
	display: flex
	justify-content: space-between
	margin: 0 -2px 48px -2px

/* ----- END SHOP GRID BANNER ----- */


/* ----- END BEST SELLERS ----- */

.best-sellers
	.grid-item__row--outer
		border: 1px solid $white-three
		border-bottom: none
		border-right: none
		display: flex
		flex-wrap: wrap


.grid-item__row
	border-right: 1px solid $white-three
	border-bottom: 1px solid $white-three
	border-radius: 2px
	display: flex
	justify-content: space-around
	padding: 23px 20px 23px 0
	position: relative
	width: 50%

.best-sellers
	.product-image
		margin-bottom: 0
		max-width: 175px
	.product-rating
		margin: -20px 0
	.product-info
		align-items: flex-start
		display: flex
		flex-direction: column
		margin-top: 15px

.grid-item__btn
	background-color: $white-six
	border: 1px solid $white-three
	border-radius: 2px
	margin-top: 40px
	a
		color: $black-six
		display: inline-block
		font:
			family: raleway
			size: .786em
			weight: 700
		letter-spacing: .6px
		padding: 14px 11px
		text-transform: uppercase

/* ----- END BEST SELLERS ----- */