@import "../base/_variables.sass"

main
	h2
		margin: 5px 0 27px


/* стили для обертки карточки товара */

.new-arrivals,
.featured-products,
.recommended,
.categories-example,
.partners-list
	margin-bottom: 39px
	.grid-item
		margin: 0 -1px
		border-left: none
		position: relative
		text-align: center
		&:hover
			box-shadow: 0px 2px 15px 0 rgba(0, 0, 0, 0.08)
		&:hover .user-action__list
			display: block
	.product-image
		min-height: 225px


/* шапка раздела */

.shop-grid__header
	position: relative


/* ----- BEGIN NEW ARRIVALS ----- */

/* навигация по категориям товара в разделе new arrivals */

.new-arrivals__nav
	display: none

/* ----- END NEW ARRIVALS ----- */



/* ----- SHOP GRID BANNERS half-size----- */

/* баннеры идущие после секции new arrivals */

.shop-grid__banner
	display: flex
	justify-content: space-between
	margin: 0 -2px 48px -2px
.half-size
	align-items: center
	flex-direction: column
	width: 100%

/* ----- END SHOP GRID BANNERS half-size ----- */


/* ----- BEGIN BEST SELLERS ----- */

.best-sellers
	margin-bottom: 45px
	.grid-item__row--outer
		border: 1px solid $white-three
		border-bottom: none
		border-right: none
		display: flex
		flex-wrap: wrap


.grid-item__row
	border-right: 1px solid $white-three
	border-bottom: 1px solid $white-three
	border-radius: 2px
	display: flex
	padding: 23px 20px 23px 0
	position: relative
	width: 100%

/* стили кароточки товара в разделе best sellers */

.best-sellers
	.product-image
		margin: 0 7.5% 0 0
		max-width: 175px
	.product-rating
		margin: -20px 0
	.product-info
		align-items: flex-start
		display: flex
		flex-direction: column
		margin-top: 15px

/* кнопка-действие для карточки товара раздела best sellers */
	
.grid-item__btn
	background-color: $white-six
	border: 1px solid $white-three
	border-radius: 2px
	margin-top: 40px
	a
		color: $black-six
		display: inline-block
		font:
			family: raleway
			size: .786em
			weight: 700
		letter-spacing: .6px
		padding: 14px 11px
		text-transform: uppercase

/* ----- END BEST SELLERS ----- */

/* ----- BEGIN MAIN-GRID__BANNER ------ */

.main-grid__banner
	margin-bottom: 48px

/* ----- END MAIN-GRID__BANNER ------ */


/*-- BEGIN PRODUCT CATEGORIES --*/

/* список категорий товаров */

.categories-list
	border-right: 1px solid $white-two
	border-left: 1px solid $white-two
	margin-bottom: 26px
	li.active
		a
			background-color: $white-six
			&:before
				border-top: 3px solid $dark-sky-blue
				content: ""
				display: block
				left: -1px
				position: absolute
				top: -1px
				width: 102%

.categories-item
	align-items: center
	border: 1px solid $white-two
	border-left: none
	color: $warm-grey-six
	display: flex
	flex-direction: column
	height: 105px
	justify-content: center
	position: relative
	i
		font-size: 2.857em
		margin-bottom: 20px
		
.categories-name
	color: $black-six
	font:
		size: .857em
		weight: 500
	text-transform: uppercase


/* карточки товара раздела Категории продукции */

.categories-example__list
	border-left: 1px solid $white-three
	display: flex
	flex-wrap: wrap
	.grid-item
		width: 100%
	.product-image
		min-height: auto
	.product-rating
		margin-bottom: 66px

.categories-banner
	display: none

/*-- END PRODUCT CATEGORIES --*/

/* -- BEGIN BRAND PARTNERS */

.partners-list
	.grid-item
		align-items: center
		display: flex
		height: 119px
		justify-content: center
		padding: 0 2px

/* -- END BRAND PARTNERS */

/* BEGIN PAYMENT SERVICE */

.our-advantages
	background-color: $white-seven
	border-top: 1px solid $white-eight

.advantages__grid
	display: flex
	flex-wrap: wrap
	width: 100%
	.advantages-grid__item
		flex: 1 0 50%
		padding: 110px 0 45px
		position: relative
		text-align: center
		&:last-child
			border-right: none
	

.advantages-img
	left: 50%
	margin-bottom: 20px
	position: absolute
	top: 40px
	transform: translateX(-50%)

.advantages-text
	color: $warm-grey-five
	font-size: .929em
	letter-spacing: .3px
	line-height: 1.38
	padding: 0 4em

/* END PAYMENT SERVICE */



/* BEGIN CONTACT US */

.contact-us
	background-color: $dark-sky-blue
	padding: 27px 0

.contact-us__inner
	align-items: center
	display: flex
	justify-content: space-between
	flex-direction: column

/* иконка самолета с текстом */

.newsletter-header
	color: $white
	display: flex
	margin-bottom: 20px
	span
		font:
			family: raleway
			size: 1.071em
			weight: 600
		line-height: 26px
		letter-spacing: .4px
		text-transform: uppercase

.icon-send-o
	color: inherit
	font-size: 2.143em
	margin-right: 20px

.social-header
	display: none

.social-contact__list
	display: flex
	li
		background-color: $white
		border-radius: 50%
		height: 40px
		margin-left: 25px
		overflow: hidden
		width: 40px
		&:first-child
			margin-left: 0
	a
		align-items: center
		display: flex
		height: 100%
		justify-content: center
		text-align: center
		width: 100%
	i
		color: $greyish-brown
		font-size: 1.071em

/* END CONTACT US */

