
@import "../base/_variables.sass"


.shop-grid__sidebar
	text-align: center

/* карточка товара вертикальная удлиненная */	

.grid-item
	border: 1px solid $white-three
	border-radius: 2px
	margin-bottom: 33px

/* шапка карточки товара */	

.item-header
	height: 50px
	h3
		font:
			famly: raleway
			size: 1.071em
			weight: 600
		line-height: 50px
		text-transform: uppercase

/* серая шапка карточки товара */
	
.item-header__grey
	background-color: $white-four
	border-bottom: 1px solid $white-three
	border-top: 1px solid $white-three
	h3
		color: $black-six
		margin-left: 25px

/* голубая шапка карточки товара */

.item-header__blue
	background-color: $dark-sky-blue
	text-align: center
	h3
		color: $white

.sidebar__hot-deals
	display: none


/* блок с новыми товарами. .sidebar-products__new */

.grid-item.sidebar-products__new
	border-bottom: none

.sidebar-products__new
	.item-header__grey
		margin-bottom: 0

/* пункты списка новых товаров */


.sidebar-products__items
	border-bottom: 1px solid $white-three
	display: flex
	align-items: flex-end
	padding: 8px 0
	.product-image
		margin-bottom: 0
	.product-info
		flex: 1
		text-align: left
	.product-rating
		margin: -20px 0 10px


.sidebar-banner
	display: none

/* блок с отзывами */

.sidebar-testim
	display: none

/* блок с новостями */

.sidebar-news
	display: none





